<div class="menunr1">
  <table width="161" cellspacing="0" cellpadding="0" border="0" class="tablemenu" style="font-size:12px">
  <tbody><tr>
    <td class="menutop1">
    <div class="menutext1">
    @Html.ActionLink("基础档案", "Index", "Main", new { }, new { @class = "" })
    </div>
    </td>
  </tr>
  <tr>
    <td class="menuzfl">
    <ul class="menuul">
      <li>@Html.ActionLink("店铺管理", "WHList", "BaseMaster", new {page=1 }, new { @class = "" })</li>
      <li>@Html.ActionLink("单位管理", "UnitList", "BaseMaster", new { }, new { @class = "" })</li>
      <li>@Html.ActionLink("型号管理", "TypeList", "BaseMaster", new { }, new { @class = "" })</li>
      <li>@Html.ActionLink("颜色管理", "ColorList", "BaseMaster", new { }, new { @class = "" })</li>
      <li>@Html.ActionLink("调货方式管理", "ChangeType", "BaseMaster", new { }, new { @class = "" })</li>
      <li>@Html.ActionLink("商品分类管理", "Category", "BaseMaster", new { }, new { @class = "" })</li>
      <li>@Html.ActionLink("商品管理", "Product", "BaseMaster", new { }, new { @class = "" })</li>
    </ul>
    </td>
  </tr>
  <tr>
     <td class="menutop1">
    <div class="menutext1">
        @Html.ActionLink("单据管理", "Index", "Main", new { }, new { @class = "" })
    </div>
    </td>
  </tr>
  <tr>
     <td class="menuzfl">
        <ul class="menuul">
          <li>@Html.ActionLink("采购单", "Index", "BuyBill", new { }, new { @class = "" })</li>
          <li>@Html.ActionLink("调拨单", "Index", "ChangeStock", new { }, new { @class = "" })</li>
          <li>@Html.ActionLink("销售单", "Index", "SailBill", new { }, new { @class = "" })</li>
          <li>@Html.ActionLink("盘点单", "Index", "Main", new { }, new { @class = "" })</li>
          <li>@Html.ActionLink("入库单", "Index", "Main", new { }, new { @class = "" })</li>
          <li>@Html.ActionLink("出库单", "Index", "Main", new { }, new { @class = "" })</li>
        </ul>
    </td>
  </tr>
  <tr>
     <td class="menutop1">
    <div class="menutext1">
        @Html.ActionLink("数据分析", "Index", "Main", new { }, new { @class = "" })
    </div>
    </td>
  </tr>
  <tr>
     <td class="menuzfl">
        <ul class="menuul">
          <li>@Html.ActionLink("库存", "Index", "Main", new { }, new { @class = "" })</li>
          <li>@Html.ActionLink("商品销售记录", "Index", "Main", new { }, new { @class = "" })</li>
          <li>@Html.ActionLink("商品调拨记录", "Index", "Main", new { }, new { @class = "" })</li>
          <li>@Html.ActionLink("商品采购记录", "Index", "Main", new { }, new { @class = "" })</li>
        </ul>
    </td>
  </tr>
  <tr>
     <td class="menutop1">
    <div class="menutext1">
        @Html.ActionLink("员工管理", "Index", "Main", new { }, new { @class = "" })
    </div>
    </td>
  </tr>
  <tr>
     <td class="menuzfl">
        <ul class="menuul">
          <li>@Html.ActionLink("员工档案", "Index", "Main", new { }, new { @class = "" })</li>
        </ul>
    </td>
  </tr>
   <tr>
     <td class="menutop1">
    <div class="menutext1">
        @Html.ActionLink("用户管理", "Index", "Main", new { }, new { @class = "" })
    </div>
    </td>
  </tr>
  <tr>
     <td class="menuzfl">
        <ul class="menuul">
          <li>@Html.ActionLink("用户档案", "Index", "Main", new { }, new { @class = "" })</li>
        </ul>
    </td>
  </tr>


</tbody></table>

            </div>